
body {
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    margin: 0 auto;
    width: 375px;
}



/****   HEADER  *****/

header {
    align-items: flex-start;
    background: url(./images/mobile-image-hero-1.jpg);
    background-size: cover;
    display: flex;
    flex-flow: wrap;
    height: 360px;
    justify-content: center;
}

.hamburger {
    margin-top: 40px;
    width: 7%;
}

.mobile-nav {
    background-color: white;
    position: absolute;
    width: 100%;
}

.mobile-nav ul {
    display: none;
    flex-wrap: wrap;
    padding: 10px;
}

.mobile-nav ul li {
    display: block;
    font-weight: 600;
    padding: 15px;
    text-decoration: none;
    text-transform: lowercase;
}

.mobile-nav ul li a {
    color: black;
    text-decoration: none;
}

.closebtn {
    margin-right: 35px;
}


.overlay {
    position: relative;
}

.overlay:after {
    content: '\A';
    position: absolute;
    width: 100%; 
    height:100%;
    top: 100px; 
    left:0;
    background:rgba(0,0,0,0.45);
    opacity: 1;
}


.logo {
    margin-top: 40px;
    padding: 0 120px 0 100px;
    width: 20%;
}

.buttons {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    left: 131px;
    top: 121px;
    width: 30%;
}

.buttons img {
    width: 10%;
}

div .left {
    background-color: black;
    padding: 20px 25px 20px 20px; 

}

div .right {
    background-color: black;
    padding: 20px 20px 20px 25px;
}



/******    SLIDES    ******/

.slide {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    margin-bottom: 40px;
}

h2 {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 30px;
    width: 100%;
}

p {
    color: hsl(0, 0%, 63%);
    font-size: 1.02rem;
    line-height: 1.4rem;
    
}

#shop {
    color: hsl(0, 0%, 0%);
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 12px;
    text-transform: uppercase;
    width: 60%;
}

.slide-2 {
    display: none;
}

.slide-3 {
    display: none;
}

/******    SLIDES    ******/

.about div {
    margin: 40px 20px;
}

section img {
    width: 100%;
}

h3 {
    font-size: 1rem;
    letter-spacing: 5px;
    margin-top: 50px;
    text-transform: uppercase;
}


/****   FOOTER   *****/

.attribution { 
    font-size: 14px;
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (min-width:1200px) {
    body {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 1440px;
    }

    header {
        background: url(./images/desktop-image-hero-1.jpg);
        background-position: center;
        background-size: cover;
        flex-flow: row-reverse;
        height: 505px;
        width: 60% ;
    }

    .hamburger {
        display: none;
    }

    .mobile-nav {
        background-color: transparent;
        position: relative;
        right: 150px;
        width: 50%;
    }

    .mobile-nav ul {
        display: flex;
    }

    #closebtn {
        display: none;
    }

    .mobile-nav ul li a {
        color: white;
        display: inline-block;
    }

    .mobile-nav ul li a:after {
        content: "";
        display: block;
        border-bottom: 2px solid white;
        margin: 0 auto;
        padding-bottom: 3px;
        width: 0;
    }

    .mobile-nav ul li a:hover:after {
        width: 50%;
      }
     

    .logo {
        padding: 0;
        position: relative;
        right: 200px;
        width: 8%;
    }

    .buttons {
        top: 426px;
        left: 760px; 
        width: 20%;
    }

    div .left {
        padding: 25px 30px 25px 30px;
    }

    div .right {
        padding: 25px 30px 25px 30px;
    }

    div .right:hover,
    div .left:hover{
        background-color: hsl(0, 0%, 27%);
    }

    main {
        display: flex;
        flex-flow: wrap;
        justify-content: space-between;
    }
    
    .slide {
        align-content: center;
        align-items: baseline;
        width: 35%;
    }

    h2 {
        font-size: 2.7rem;
        margin: 20px 50px;
    }

    .slide p {
        margin: 0 50px;
        margin-bottom: 20px;
    }

    #shop {
        margin: 0;
        margin-left: 50px;
        width: 40%;
    }

    #shop:hover {
        color: hsl(0, 0%, 63%);
        cursor: pointer;
    }

    .slide svg:hover {
        cursor: pointer;
        fill: hsl(0, 0%, 63%);
    }

    .about {
        display: flex;
        width: 100%;
    }

    .about img{
        width: 30%;
    }

    .about div {
        margin: 0 50px;
        padding: 20px 0;
    }

    .about div p {
        font-size: .95rem;
    }

    footer {
        padding: 20px;
    }

}